.blog-interna {
    margin-bottom: 5rem;

    strong {
        display: block;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    p {
        font-weight: 400;
        margin-bottom: 4rem;

        strong {
            margin-bottom: 0;
        }
    }
}

.blog-interna-img {
    width: 90%;
    height: 37rem;
    overflow: hidden;
    margin-left: 5rem;
    margin-bottom: 5rem;

    
    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 3rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#blog-interna p {
    font-weight: 500;
}