.quem-somos-description {
    position: relative;

    strong {
        margin-bottom: 3rem;
        display: block;
    }

  ul {
    li {
        p {
            margin-bottom: 0;
        }
    }
  }
}