.button-default {
    height: 4rem;
    line-height: 4rem;
    font-size: var(--text-16);
    font-weight: 600;
    color: #111;
    background: #fff;
    padding: 0 3rem;
    transition: all .3s ease-in-out;
    
    &:hover {
        opacity: .6;
    }
}

.button-leia-mais {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--color-tarawera);
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-weight: 700;

    &:hover {
        text-decoration: none;
        color: var(--color-tangerine);
        opacity: 1;
    }
}